* {
  box-sizing: border-box;
  max-width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.scroll-body {
  display: flex;
  flex-direction: column;
  background: cornsilk;
}

.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.back-ground {
  background-color: rgb(238, 228, 228);
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: baseline;
  gap: 20px;
}

.App-Scroll {
  min-height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  flex-direction: row;
  align-items: flex-start;
  align-items: baseline;
  gap: 0px;
}

.Scroll {
  width: 100%;
  height: 590px;
  margin-left: 20px;
  overflow-y: auto;

  scroll-snap-type: y proximity;
  scrollbar-width: 10px;
}

.Scroll section {
  scroll-snap-align: start;
}

.article {
  display: flex;
}

.left-article {
  margin-right: 600px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leftbox {
  border: 1px solid rgb(0, 5, 0);
  width: 230px;
  height: 90px;
  box-shadow: 4px 4px 2px 1px rgba(1, 1, 19, 0.931);
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  /* border:1px solid grey; */
}

/*general styles*/

html {
  font-size: 52.5%;
}
body {
  font-family: "Georgia", cursive;
  line-height: 1.5;
  font-size: 1.8rem;
  color: #180202;
  background-color: #fbfffb;
  backdrop-filter: blur(6px);

  /*font-family: 'Source Sans Pro', sans-serif; */
}

.rightbox {
  display: flex;
  border: 1px solid rgb(0, 5, 0);
  width: 250px;
  height: 90px;
  text-align: center;
  box-shadow: 4px 4px 2px 1px rgba(1, 1, 19, 0.931);
}

.line-page {
  border-left: 1px solid rgb(0, 5, 0);
}

.body-page {
  display: flex;
  justify-content: column;
  position: relative;
  height: 200px;
}

.feature {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  font-size: 40px;
}

.border-right-article {
  border-bottom: 1px solid black;
  margin-top: 77px;
  margin-left: 20px;
  width: 450px;
}

/*
.seperator {
  width: 2px;
  margin: 6px 0;
  background: blue;
 
  margin: 0 auto;
  top: 0;
  bottom: 0;
  position: absolute;
  left: 35.50%;
  align-items: flex-start;
  display: flex;
}
*/

.bottom-border {
  font-size: 120px;
  font-weight: 100;
  margin-right: 50px;

  width: 240px;
}

.self-bottom-border {
  display: flex;
  position: absolute;

  margin-top: 20px;
  height: 450px;
  margin-left: 285px;
}

.self-Title {
  margin-left: 90px;
  font-size: 160px;
  font-weight: 100;
  border-bottom: 1px solid black;

  width: 270px;
}

.left-side-border {
  display: flex;
  justify-content: end;

  font-size: 120px;
  font-weight: 100;
}

.secound-Title {
  font-size: 160px;
  font-weight: 100;
  margin-left: 30px;
}

.article-Title {
  font-size: 60px;
  font-weight: 100;
  margin-left: 30px;
}

.borderTitle {
  display: flex;
  margin-left: 15px;
  border-bottom: 1px solid black;
  width: 569px;
}

.nextborderTitle {
  display: flex;
  margin-left: 15px;
  border-bottom: 1px solid black;
  margin-top: 37px;
  width: 569px;
}

.thridborderTitle {
  display: flex;
  margin-left: 15px;
  border-bottom: 1px solid black;
  margin-top: 37px;
  width: 569px;
}

.title-Name {
  color: black;
  font-size: 70px;

  font-family: "Georgia", cursive;
}

img {
  margin-top: 0px;
}

.ticker {
  background-color: rgb(5, 8, 2);
  color: white;
  margin-top: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.center-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-page {
  margin-top: 20px;
  margin-left: 20px;
  height: 35rem;
  width: 67rem;
}

.center-cards {
  justify-content: space-around;
  border: 7px solid #00000002;

  margin-right: 660px;
  margin-bottom: 40px;
}

.card-header {
  margin-left: 20px;
  font-size: xx-large;
}

.card-author {
  margin-left: 20px;
  font-weight: bolder;
  font-style: oblique;
}

.card-button {
  width: 40px;
  height: 40px;
}
.card-paragraph {
  margin-left: 20px;
}

.typo-width {
  text-align: center;
  width: 540px;
}

.right {
  display: flex;

  margin-left: 50px;
  margin-top: 30px;
  /*border-left: 6px solid rgb(0, 0, 0); */
  height: 40px;
}

.left-box {
  border: 1px solid rgb(0, 5, 0);
  width: 390px;
  height: 400px;

  margin-left: 350px;
}

.lefter {
  background-color: aqua;
}

.black-line {
  margin-right: 550px;
  background-color: blueviolet;
}

.vertical {
  border-left: 1px solid black;
  margin-left: 40px;
  margin-top: 40px;
  height: 200px;
  position: absolute;
}

.vertical-left {
  display: flex;
  border-right: 1px solid black;
  height: 620px;
  margin-left: 150px;
  position: absolute;
}

.left-text {
  display: flex;
  justify-content: start;
  margin-right: 40px;
  padding: 40px;
  position: relative;
}

.bottom-border-right {
  display: flex;
  position: absolute;
  border-right: 1px solid black;
  margin-top: 20px;
  height: 540px;
  margin-left: 205px;
}

.no-border-right {
  font-size: 160px;
  font-weight: 100;
}

.bottom-self-border-right {
  display: flex;
  position: absolute;
  border-right: 1px solid black;
  margin-top: 65px;
  height: 250px;
  margin-left: 290px;
}

.bottom-self-border-far-right {
  display: flex;
  position: absolute;
  border-right: 1px solid rgb(0, 0, 0);
  margin-top: 20px;
  height: 450px;
}

.column-display {
  display: flex;
  justify-content: column;
}

.box {
  border-right: 1px solid black;
  width: 230px;
  height: 390px;
}

.wrapper {
  display: flex;
}

.right-box {
  border: 1px solid rgb(39, 38, 38);
  width: 500px;
  height: 500px;
  margin-top: 80px;
  margin-right: 70px;
}

.self-sentence {
  margin-left: 100px;
  font-size: 60px;
  font-weight: 100;

  width: 270px;
}

.inner-box {
  border: 1px solid rgb(0, 5, 0);
  width: 500px;
  height: 50px;
  background-color: rgb(0, 0, 0);
}

.pinned {
  margin-bottom: 220px;
}

.left-side {
  margin-left: 20px;
  font-size: x-large;
  font-weight: 150px;
  padding: 20px;
}

.leftside-bottom {
  margin-left: 5px;
  margin-top: 270px;
  padding: 5px;
}

.small-left {
  font-size: x-large;
}

.no {
  font-size: 200px;
  margin-right: 440px;
  background-color: salmon;
}

.pinnedone {
  font-size: 25px;
  font-weight: 100;

  width: 270px;
}

.date {
  margin-left: 400px;
  font-size: 25px;
  font-weight: 100;

  width: 270px;
}

@media (max-width: 1700px) {
  .wrapper {
    justify-content: center;
  }

  .bottom-border-right {
    display: none;
  }

  .right-box {
    display: none;
  }
}

@media (max-width: 1600px) {
  .right-box {
  }
}

@media (max-width: 1500px) {
  .right-box {
    width: 300px;
  }
}

@media (max-width: 1080px) {
  .title-Name {
    width: 1000px;
    font-size: 60px;
    display: flex;
  }
}

@media (max-width: 880px) {
  .title-Name {
    font-size: 460px;
    display: none;
  }
}

@media (max-width: 1400px) {
  .title-Name {
    width: 1000px;
    font-size: 60px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .title-Name {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    width: none;

    justify-content: none;
  }

  .ticker {
    background-color: rgb(5, 8, 2);

  }

  .leftbox {
    border: 1px solid rgb(0, 5, 0);
    width: 260px;
    height: 50px;
  }

  .rightbox {
    border: 1px solid rgb(0, 5, 0);
    width: 260px;
    height: 50px;
  }

  html {
    font-size: 40%;
  }

  .self-Title {
    font-size: none;

    display: none;
    justify-content: none;
    margin-left: none;

    font-weight: none;
    border-bottom: none;

    width: none;
  }

  .secound-Title {
    font-size: 50px;

    font-weight: 100;
    margin-left: 40px;
    margin-top: 20px;
  }

  .third-Title {
    font-size: 50px;

    font-weight: 100;
    margin-left: 40px;
    margin-top: 20px;
  }

  .bottom-border-right {
    display: none;
    position: none;
    border-right: none;
    margin-top: none;
    height: none;
    margin-left: none;
  }

  .left-side-border {
    display: none;
    justify-content: none;

    font-size: none;
    font-weight: none;

    width: none;
  }

  .bottom-self-border-far-right {
    display: nonr;
    position: none;
    border-right: none;
    margin-top: none;
    height: none;
  }

  .bottom-self-border-right {
    display: none;
    position: none;
    border-right: none;
    margin-top: none;
    height: none;
    margin-left: none;
  }

  .cards {
    width: 950;
    height: 400;
  }

  .self-sentence {
    display: none;
  }

  .right-box {
    display: none;
  }
}



.marquee{
  font-size: 20px;


 padding: 6px 0;
 width: calc(100% + 44px);
 margin-left: -20px;
 flex-shrink: 0;
}

span:before{
  display: inline-block;
  content:"";
  border-radius: 50%;
  width: 10px;
  height:10px;
  position: relative;
  vertical-align: baseline;
}



@import url("https://fonts.googleapis.com/css2?family=Bokor&display=swap");
